body {
    margin: 0;
    background-color:#fff;
    font-family: 'Roboto', sans-serif;
    font-size: 62,5%;
    color: #000;
    line-height: 1.6;
    letter-spacing:0.2px;
}
h1 {
    position:relative;
    margin:0.8em 0;
    color: #fff;
    letter-spacing:3px;
    font-size: 2.5rem;
}
nav {
    background: linear-gradient(to right,#FC466B,#3F5EFB );
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.326);
    position:fixed;
    top:0;
    width:100%;
}
main{
    padding-top: 9em;
}
.container {
    max-width: 70vw;
    margin: 0 auto;
    display:flex;
    flex-direction:column;
}

#inputForm  {
    background:rgb(221, 220, 220);
    padding:1em;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    color:inherit;
    border-radius:4px;
}
#inputForm > *  {
    margin-bottom: 0.7em;
    font-family:inherit;
    font-size:inherit;
}
#inputForm input, #inputForm textarea  {
    width: 100%;
    border: none;
    line-height: 1.8;
}
#inputForm button {
    background-color:#FC466B;
    color:#fff;
    cursor:pointer;
    border: none;
    border-radius:4px;
    margin: 1em 0;
    padding: 0.5em 2em;
}
#inputForm button:hover {
    background-color: #fff;
    color:#000;
}


@media (min-width:700px) {
    .container { 
        max-width: 55vw;
    }
}

@media (min-width: 1000px) {
    .container {
        max-width: 40vw;
    }
}

